In [26]:
import pandas as pd
import json
import copy

#loading json file into python object
with open("file1.json") as f:
    one=json.load(f)
print(one)
    
#creating dataframe out of python object created earlier
one=pd.DataFrame(one['people'])

print(one)

#masking the value in dataframe
one.where(one.age>99)

{'people': [{'firstName': 'Joe', 'lastName': 'Jackson', 'gender': 'male', 'age': 28, 'number': '7349282382'}, {'firstName': 'James', 'lastName': 'Smith', 'gender': 'male', 'age': 32, 'number': '5678568567'}, {'firstName': 'Emily', 'lastName': 'Jones', 'gender': 'female', 'age': 24, 'number': '456754675'}]}
  firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675

  firstName lastName gender  age number
0       NaN      NaN    NaN  NaN    NaN
1       NaN      NaN    NaN  NaN    NaN
2       NaN      NaN    NaN  NaN    NaN